{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "globals": {
    "FileReader": true
  },
  "rules": {
    "no-use-before-define": "off",
    "no-param-reassign": "off",
    "func-names": "off"
  }
}
