@import "./reset.css";

:root {
  --sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --mono: "Roboto Mono", Menlo, Monaco, Courier, monospace;
  --black: #111;
  --black-2: #4a4a4a;
  --grey: #e2e2e2;
  --grey-hover: #f5f5f5;
  --grey-bg: #fbfbfb;
  --grey-text: #7c7c7c;
  --grey-stroke: #979797;
  --red-highlight: #ff445b;
}

html {
  font-size: 100%;
}
body {
  background-color: white;
  font-family: var(--sans-serif);
  font-weight: 400;
  line-height: 1.65;
  color: var(--black);
}
p {
  margin-bottom: 1.15rem;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--sans-serif);
  font-weight: 400;
  line-height: 1.15;
}
h1 {
  margin-top: 0;
  font-size: 1.383em;
}
h2 {
  font-size: 1.296em;
}
h3 {
  font-size: 1.215em;
}
h4 {
  font-size: 1.138em;
}
h5 {
  font-size: 1.067em;
}
small,
.text_small {
  font-size: 0.937em;
}
strong {
  font-weight: 700;
}

.button-group button {
  cursor: pointer;
  font-size: 1rem;
  background: white;
  padding: 0.3rem 0.75rem;
  border: 1px solid #ccc;
}
.button-group button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.button-group button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.button-group button:hover {
  background: #e6e6e6;
  border-color: #adadad;
}
.button-group button.active {
  border-color: #adadad;
  background: #e6e6e6;
}
.button-group button + button {
  margin-left: -1px;
}
