.histogram {
  .bar {
    rect {
      fill: steelblue;
    }
    text {
      font-family: var(--font);
      font-weight: 600;
      font-size: 11px;
      fill: white;
    }
  }

  .x.axis {
    font-family: var(--font);
  }
}
