#visualize {
  .output {
    position: relative;

    .bar {
      text {
        font-family: var(--font);
        font-weight: 600;
        font-size: 11px;
        fill: white;
      }
    }

    .breaks {
      text {
        font-family: var(--font);
        font-size: 11px;
      }
    }

    .statistics {
      text {
        font-weight: 700;
        font-size: 11px;
      }
    }

    .x.axis {
      font-family: var(--font);
    }

    .btn-group {
      position: absolute;
      right: 0;
      top: -40px;
    }
  }
}
