#visualize .output {
  position: relative;

  .bar text {
    font-family: var(--font);
    font-weight: 600;
    font-size: 11px;
    fill: white;
  }
  .breaks text {
    stroke-linejoin: round;
    font-family: var(--font);
    font-size: 13px;
  }
  .statistics text {
    font-weight: 700;
    font-size: 11px;
  }
  .x.axis {
    font-family: var(--font);
  }

  .btn-group {
    position: absolute;
    right: 0;
    top: -40px;
  }
  .input-config {
    position: absolute;
    right: 0;
    top: 0;
  }
  .input-classes,
  .input-bins {
    display: inline-flex;
    align-items: center;

    input {
      margin-left: 5px;
      width: 50px;
      padding-left: 8px;
    }
  }
  .input-bins {
    padding-left: 8px;
  }
}
