@import './reboot';
@import './variables';
@import './input-file';

body {
  padding: 0.5rem;
  max-width: 960px;
  margin: 1rem auto;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;

  @media (min-width: 960px) {
    padding: 0;
  }
}
