#choose .output {
  overflow-x: scroll;

  table {
    width: 100%;
    position: relative;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      height: 3rem;
      width: 100%;
      background-image: linear-gradient(to bottom, transparent, white);
      pointer-events: none;
    }

    td,
    th {
      cursor: pointer;
      position: relative;
    }

    th {
      border-bottom: 1px solid #111;

      &:not(:first-child):not(:last-child) {
        padding: 2px 10px;
      }
    }

    td:not(:first-child):not(:last-child) {
      padding: 2px 10px;
    }

    .number {
      font-family: var(--mono);
      text-align: right;
      font-size: 0.9rem;
      color: #3182bd;
    }
    .string {
      font-family: var(--mono);
      color: #756bb1;
    }

    /* Hover over the whole column */
    td:hover::after,
    th:not(:empty):hover::after,
    td.checked::after,
    th:not(:empty).checked::after {
      content: '';
      height: 10000px;
      left: 0;
      position: absolute;
      top: -5000px;
      width: 100%;
      z-index: -1;
    }

    td:hover::after,
    th:hover::after,
    th.checked::after,
    td.checked::after {
      background-color: #ffffdd;
    }
  }
}
